<nz-header>
  <div nz-row>
    <div nz-col nzSpan="16">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item routerLink="/dashboard" routerLinkActive="ant-menu-item-selected">Dashboard</li>
        <li nz-menu-item routerLink="/users" routerLinkActive="ant-menu-item-selected">Users
        </li>
        <li nz-menu-item routerLink="/settings" routerLinkActive="ant-menu-item-selected">Settings</li>
      </ul>
    </div>
    <div nz-col nzSpan="8">dfdfdssdsd
      <div nz-col nzSpan="12" class="flex justify-end items-center">
        สวัสดีคุณ : &nbsp; <i class="fas fa-user text-white text-lg"></i>
     </div>

    </div>
  </div>


 
</nz-header>