<nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <span nz-icon nzType="home"></span>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <i class="fa-solid fa-bed"></i>
        ลงทะเบียนผู้ป่วยใน
      </nz-breadcrumb-item>
    </nz-breadcrumb> 
    <!-- <nz-page-header style="background-color: white;" class="site-page-header" nzTitle="สวัสดีคุณ ......."> -->
    <nz-page-header class="p-0" nzTitle="ลงทะเบียนผู้ป่วยใน"/>
    
    <div class="inner-content">
        <div class="flex flex-col card w-full bg-fuchsia-100 rounded-md shadow h-100">
            <div class="flex flex-row w-full">
              <div class="flex">
                <div class="flex-shrink-0 p-2">
                  <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                    <svg
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                      />
                    </svg>
                  </div>
                </div>
                <div class="flex w-full">
                  <div class="ml-4 mt-2">
                    <dt class="text-lg leading-6 font-medium text-gray-900">
                      ข้อมูลทั่วไป
                    </dt>
                    <dd class="mt-0 text-base text-gray-500">
                      Patient Infomations
                    </dd>
                  </div>
                </div>            
              </div>
            </div>
            <div class="flex flex-col">
              <div class="border rounded-md ml-10 mr-4 border-violet-500 mb-2">
                <div class="row m-1 pl-5 pr-5">
                  <span class="font-bold text-gray-500"> HN:</span><span> 123456</span>
                  <span class="font-bold text-gray-500"> AN:</span><span> 660000001</span>
                </div>
                <div class="row m-1 pl-5 pr-5">
                  <span class="font-bold text-gray-500"> ชื่อ-สกุล:</span><span> นายทดสอบ นะจ๊ะ</span>
                  <span class="font-bold text-gray-500"> เพศ:</span><span> ชาย</span>
                  <span class="font-bold text-gray-500"> อายุ:</span><span> 30 ปี 6 เดือน 1 วัน</span>
                  <span class="font-bold text-gray-500"> ที่อยู่:</span><span> 10 ม.1 ต.แสนสบาย อ.เมือง จ.อุบลราชธานี</span>
                </div>
                <div class="row m-1 pl-5 pr-5">
                  <span class="font-bold text-gray-500"> เบอร์โทร:</span><span> 0921231231</span>
                  <span class="font-bold text-gray-500"> ชื่อบิดา:</span><span> นายไก่ กุ๊กกุก</span>
                  <span class="font-bold text-gray-500"> ชื่อมารดา:</span><span> นายนก กุ๊กกุก</span>
                </div>
                <div class="row m-1 pl-5 pr-5">
                  <span class="font-bold text-gray-500"> อาชีพ:</span><span> รับจ้างทั่วไป</span>
                  <span class="font-bold text-gray-500"> การศึกษา:</span><span> มัธยมศึกษาตอนปราย</span>
                  <span class="font-bold text-gray-500"> สิทธิการรักษา:</span><span> UC30 บาทในพื้นที่</span>                  
                </div>
              </div>
            </div>
        </div>
        <div class="flex flex-col card w-full bg-fuchsia-100 rounded-md shadow h-100 mt-2">
          <div class="flex flex-row w-full">
            <div class="flex">
              <div class="flex-shrink-0 p-2">
                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
              </div>
              <div class="flex w-full">
                <div class="ml-4 mt-2">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                    ข้อมูลการเจ็บป่วย
                  </dt>
                  <dd class="mt-0 text-base text-gray-500">
                    Subhead
                  </dd>
                </div>
              </div>            
            </div>
          </div>
          <div class="flex flex-col">
            <div class="border rounded-md ml-10 mr-4 border-violet-500 mb-2">
              <div class="row m-1 pl-5 pr-5">
                <span class="font-bold text-gray-500"> CC:</span><span> ท้องเสีย.....................................</span>
                <span class="font-bold text-gray-500"> PE:</span><span> ....................................</span>
                <span class="font-bold text-gray-500"> Pre Diag:</span><span> General.......................</span>
              </div>
              <div class="row m-1 pl-5 pr-5">
                <span class="font-bold text-gray-500"> VS:</span><span> ....................................</span>
                <span class="font-bold text-gray-500"> Temp:</span><span> ....................................</span>
                <span class="font-bold text-gray-500"> Weight:</span><span> ....................................</span><span> kg.</span>
                <span class="font-bold text-gray-500"> Height:</span><span> ....................................</span><span> cm.</span>
                <span class="font-bold text-gray-500"> BMI:</span><span> ....................................</span>
                <span class="font-bold text-gray-500"> GFR:</span><span> ....................................</span>
              </div>
              <div class="row m-1 pl-5 pr-5">
                <span class="font-bold text-gray-500"> Other:</span><span> ........................................................................</span>
                <span class="font-bold text-gray-500"> Doctor By:</span><span> ....................................</span>
              </div>
            </div>
          </div>
      </div>
        <div class="flex flex-col card w-full bg-fuchsia-100 rounded-md shadow h-100 mt-2">
          <div class="flex flex-row w-full">
            <div class="flex">
              <div class="flex-shrink-0 p-2">
                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
              </div>
              <div class="flex w-full">
                <div class="ml-4 mt-2">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                    เลือกตึกผู้ป่วย
                  </dt>
                  <dd class="mt-0 text-base text-gray-500">
                    Patient Building
                  </dd>
                </div>
              </div>            
            </div>
          </div>
          <div class="flex flex-col">
            <div class="border rounded-md ml-10 mr-4 border-violet-500 mb-2">
              <div class="row m-1 pl-5 pr-5">
                <span class="font-bold text-gray-500"> HN:</span><span> 123456</span>
                <span class="font-bold text-gray-500"> AN:</span><span> 660000001</span>
              </div>
              <div class="row m-1 pl-5 pr-5">
                <span class="font-bold text-gray-500"> ชื่อ-สกุล:</span><span> นายทดสอบ นะจ๊ะ</span>
                <span class="font-bold text-gray-500"> เพศ:</span><span> ชาย</span>
                <span class="font-bold text-gray-500"> อายุ:</span><span> 30 ปี 6 เดือน 1 วัน</span>
                <span class="font-bold text-gray-500"> ที่อยู่:</span><span> 10 ม.1 ต.แสนสบาย อ.เมือง จ.อุบลราชธานี</span>
              </div>
              <div class="row m-1 pl-5 pr-5">
                <span class="font-bold text-gray-500"> เบอร์โทร:</span><span> 0921231231</span>
                <span class="font-bold text-gray-500"> ชื่อบิดา:</span><span> นายไก่ กุ๊กกุก</span>
                <span class="font-bold text-gray-500"> ชื่อมารดา:</span><span> นายนก กุ๊กกุก</span>
              </div>
              <div class="row m-1 pl-5 pr-5">
                <span class="font-bold text-gray-500"> อาชีพ:</span><span> รับจ้างทั่วไป</span>
                <span class="font-bold text-gray-500"> การศึกษา:</span><span> มัธยมศึกษาตอนปราย</span>
                <span class="font-bold text-gray-500"> สิทธิการรักษา:</span><span> UC30 บาทในพื้นที่</span>                  
              </div>
            </div>
          </div>
      </div>
      
    <div class="flex flex-col card w-full bg-fuchsia-100 rounded-md shadow h-100 mt-2">
      <div class="flex flex-row w-full">
        <div class="flex">
          <div class="flex-shrink-0 p-2">
            <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                />
              </svg>
            </div>
          </div>
          <div class="flex w-full">
            <div class="ml-4 mt-2">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                เลือกเตียง
              </dt>
              <dd class="mt-0 text-base text-gray-500">
                Active Bed
              </dd>
            </div>
          </div>            
        </div>
      </div>
      <div class="flex flex-col">
        <div class="border rounded-md ml-10 mr-4 border-violet-500 mb-2">
          <div class="row m-1 pl-5 pr-5">
            <span class="font-bold text-gray-500"> HN:</span><span> 123456</span>
            <span class="font-bold text-gray-500"> AN:</span><span> 660000001</span>
          </div>
          <div class="row m-1 pl-5 pr-5">
            <span class="font-bold text-gray-500"> ชื่อ-สกุล:</span><span> นายทดสอบ นะจ๊ะ</span>
            <span class="font-bold text-gray-500"> เพศ:</span><span> ชาย</span>
            <span class="font-bold text-gray-500"> อายุ:</span><span> 30 ปี 6 เดือน 1 วัน</span>
            <span class="font-bold text-gray-500"> ที่อยู่:</span><span> 10 ม.1 ต.แสนสบาย อ.เมือง จ.อุบลราชธานี</span>
          </div>
          <div class="row m-1 pl-5 pr-5">
            <span class="font-bold text-gray-500"> เบอร์โทร:</span><span> 0921231231</span>
            <span class="font-bold text-gray-500"> ชื่อบิดา:</span><span> นายไก่ กุ๊กกุก</span>
            <span class="font-bold text-gray-500"> ชื่อมารดา:</span><span> นายนก กุ๊กกุก</span>
          </div>
          <div class="row m-1 pl-5 pr-5">
            <span class="font-bold text-gray-500"> อาชีพ:</span><span> รับจ้างทั่วไป</span>
            <span class="font-bold text-gray-500"> การศึกษา:</span><span> มัธยมศึกษาตอนปราย</span>
            <span class="font-bold text-gray-500"> สิทธิการรักษา:</span><span> UC30 บาทในพื้นที่</span>                  
          </div>
        </div>
      </div>
  </div>
  <div class="flex flex-col card w-full bg-fuchsia-100 rounded-md shadow h-100 mt-2">
    <div class="row m-1 pl-5 pr-5">
      
    </div>
  </div>
    </div>
  </nz-content>